.course-manager {
  top: 0;
  height: 100%;
  margin: 0 auto;
  box-shadow: var(--mdc-elevation--z4);
  flex-direction: column;

}

.student-section, .teacher-section {
  width: 100%;
  margin-bottom: 40px;
  flex-direction: column;
}

.student-section__title, .teacher-section__title {
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 2rem;

}
.student__avalible__enrollment{
  margin-top: 20px;
  font-size: 1.5rem;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}


.mdc-tab-bar {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--mdc-elevation--z1);
}

.mdc-tab {
  text-align: center;
  background-color: #fcfcfc;
}

.course__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.course__card {
  width: 100%;
  max-width: 320px;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column; // Permet d'organiser les éléments en colonne
  justify-content: space-between; // Espace entre le contenu et le bouton
  align-items: center;

}

.course__card:hover {
  background-color: #ffffff;
}

.mdc-button {
  --mdc-theme-primary: #367e39b2;
}

.mdc-button:hover {
  background-color: #367e38;
}

.new-course-card__form-title{
  font-size: 1.5rem;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.new__course__card {
  margin: 20px auto; /* Auto pour centrer horizontalement */
  padding: 20px;
  background-color: #fcfcfc;
  border-radius: 8px;
  
  width: 100%;
  max-width: 500px;
  align-items: center;
  border-radius: 8px;
}

.new__course__form .mdc-text-field {
  margin-bottom: 16px;
  width: 100%;
}

.new__course__form .mdc-button {
  width: 100%;
  margin-top: 16px;
}



@media (max-width: 768px) {
  .course__card {
    max-width: 100%;
  }

  .mdc-button {
    width: 100%;
  }
}
