<template>
  <!-- Top App Bar -->
  <header class="mdc-top-app-bar app-bar" id="app-bar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
          click.trigger="toggleDrawer()">menu</button>
        <span class="mdc-top-app-bar__title">UniFlow</span>
      </section>

      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
        <button class="material-icons mdc-icon-button" click.trigger="navigateTo('notifs')">notifications</button>
        <button class="material-icons mdc-icon-button" click.trigger="navigateTo('account')">account_circle</button>
          <!-- modifier quand j'aurai logique logout 
        <button class="material-icons mdc-icon-button" click.trigger="logout()">exit_to_app</button>
        -->
        <button class="material-icons mdc-icon-button" load="login">exit_to_app</button>
      </section>

    </div>
  </header>

  
  <!-- Drawer Dismissible -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
    <div class="mdc-drawer__content">
      <nav class="mdc-list">

               <!-- dashboard -->
        <a class="mdc-list-item" click.trigger="navigateTo('dashboard')">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">dashboard</i>
          <span class="mdc-list-item__text">Dashboard</span>
          
        <!-- My Schedule -->
        <a class="mdc-list-item" click.trigger="navigateTo('my-schedule')">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">event</i>
          <span class="mdc-list-item__text">My Schedule</span>
        </a>

        <!-- Course Manager -->
        <a class="mdc-list-item" click.trigger="navigateTo('course-manager')" >
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">class</i>
          <span class="mdc-list-item__text">Course Manager</span>
        </a>

 
        <!-- ecam Manager -->
        <a class="mdc-list-item" click.trigger="navigateTo('exam-manager')" >
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment</i>
          <span class="mdc-list-item__text">Exam Manager</span>
        </a>
        <!-- account -->
        <a class="mdc-list-item" click.trigger="navigateTo('account')" >
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">person</i>
          <span class="mdc-list-item__text">Account</span>
        </a>
        <!-- notif -->
        <a class="mdc-list-item" click.trigger="navigateTo('notifs')" >
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">notifications</i>
          <span class="mdc-list-item__text">Notifications</span>


        </a>
      </nav>
    </div>
  </aside>

  <!-- Contenu principal -->
  <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
    <main class="main-content" id="main-content">

      <au-viewport fallback="fourohfour-page"></au-viewport> <!--  renders routed components -->


    </main>
  </div>
</template>
