/* Styles pour le login page */
.login-page {
  height: 100vh;  /* Assurer que le corps et l'élément html prennent toute la hauteur */
  padding-top: 60px;
  display: flex;
  flex-direction: column; /* Changer l'alignement pour une disposition en colonne */
  background-image: url('../../assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.auth-card {
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;

  .auth-card__title {
    font-family: "Fascinate Inline", serif;
    color: #a13f3f; 
    text-align: center; 
    margin-bottom: 20px; 
  
  }

  .auth-card__form-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #555;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: stretch; /* Remplacer align-items: center pour une meilleure répartition */
  }

  mdc-text-field {
    width: 100%;
  }

  mdc-select {
    width: 100%;
  }

  mdc-button {
    width: 100%;
    font-size: 14px;

    &:hover {
      background-color: #a10202;
      color: #f7f7f7;
    }
  }

  .mdc-button {
    margin-top: 16px;
  }


  /* Style pour mdc-select */
  mdc-select {
    .mdc-select__menu {
      width: 100% !important;  // Forcer le menu à avoir la même largeur que le select
    }
  }

  .auth-card__footer {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
  }
}
